# security
SECRET_KEY=your_secure_secret_key1231231231

# database
DB_NAME=your_bd_name
DB_USER=_your_bd_user
DB_PASSWORD=your_db_password
DB_HOST=postgres
DB_PORT=5432

#jwt
ACCESS_TOKEN_LIFETIME=10
REFRESH_TOKEN_LIFELINE=7200

# redis
REDIS_URL=redis://redis:6379/1

# db for test
TEST_DB_NAME=your_test_db_name

# Github oauth
SOCIAL_AUTH_GITHUB_KEY=your_github_auth_key
SOCIAL_AUTH_GITHUB_SECRET=your_github_secret_key

# Allowed hosts
ALLOWED_HOSTS=localhost,127.0.0.1
